.hwwgen{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    background-color: #f2f0f4;
height: 445px;
gap: 10px;
}

.hwwgen h2{
color: #e8b130;
font-size: 14px;
font-family: sans-serif;
font-weight: 700;
letter-spacing: 2px;
}


.hwwgen p{
  font-size: 36px;
    font-family: sans;
    color: #261b32;
    font-weight: 700;
}

.hwwgen h3{
   font-size: 18px;
    color: #73677e;
font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    top: 10px;
    position: relative;
}